.burger{
    display: none;
}


header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 22px;
    padding-bottom: 22px;
}

.headerLinks{
    display: flex;
    gap: var(--font-size-xl); 
    background-color: black;
    padding: 10px;
    border: 6px solid #1A1A1A;
    border-radius: 10px;
}

.navLinks{
    padding: 12px 20px;
    color: white;
}

.navButtons{
    display: flex;
    gap: 34px;
}

.navLinks.headerLinksClick {
    background-color: #1A1A1A;
    border: 1px solid #1A1A1A;
    border-radius: 10px;
}


@media (max-width:1440px){
    .headerLinks{
        display: flex;
        gap: var(--font-size-base);
        padding: 8px;
    }

    .headerLinks a{
        padding: 10px 18px;
    }

    header{
        display: flex;
    }

    .headerLogo img:nth-child(1){
    width: 100%;
    max-width: 165px;
    height: auto;
}
}

@media (max-width:390px){
    header{
        display: flex;
        justify-content: space-between;
        padding-left: var(--font-size-base);
        padding-right: var(--font-size-base);
    }

    .burger{
        display: block;
    }

    .headerLinks{
        display: none;
    }

    .navButtons{
    display: none;
    }

    .headerLogo img:nth-child(1){
    width: 100%;
    max-width: 116px;
    height: auto;
    }
}