
header{
    padding: 22px 162px 22px 162px;
}

.headerWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.headerLinks{
    display: flex;
    gap: var(--font-size-xl); 
    background-color: black;
    padding: 10px;
    border: 6px solid #1A1A1A;
    border-radius: 10px;
}

.navLinks{
    padding: 12px 20px;
    color: white;
}

.headerButtons{
    display: flex;
    gap: 34px;
}

.navLinks.headerLinksClick {
    background-color: #1A1A1A;
    border: 1px solid #1A1A1A;
    border-radius: 10px;
}

.burger{
    display: none;
    position: relative;
    width: 30px;
    height: 30px;
}

.burger span{
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: white;
    transition: transform .3s, opacity .2s;
}

.burger span:nth-child(1){
    transform: translateY(10px);
}

.burger span:nth-child(2){
    transform: translateY(-10px);
}



.headerWrapper.open .burger span:nth-child(1){
    transform: translateY(0) rotate(45deg);
}

.headerWrapper.open .burger span:nth-child(2){
    transform: translateY(0) rotate(-45deg);
}

.headerWrapper.open .burger span:nth-child(3){
    opacity: 0;
}



@media (max-width:1440px){
    .headerLinks{
        display: flex;
        gap: var(--font-size-base);
        padding: 8px;
    }

    .headerLinks a{
        padding: 10px 18px;
    }

    .headerWrapper{
        display: flex;
    }

    .headerLogo img:nth-child(1){
    width: 100%;
    max-width: 165px;
    height: auto;
}
}

@media (max-width:390px){
    header{
        padding: 20px 16px 0px 0px;
    }
    .headerWrapper{
        display: flex;
        justify-content: space-between;
        padding-left: var(--font-size-base);
        padding-right: var(--font-size-base);
    }

    .burger{
        display: block;
        position: absolute;
        right: 10px;
        top: 20px;
        z-index: 3;
    }

    .headerLinks{
        position: fixed;
        display: flex;
        flex-direction: column;
        width: 200px;
        right: -230px;
        top: 0px;
        z-index: 2;
        padding-top: 70px;
        transition: transform.6s, visibility.6s;
    }

    .headerButtons{
    display: none;
    }

    .headerLogo img:nth-child(1){
    width: 100%;
    max-width: 116px;
    height: auto;
    }

    .headerWrapper.open .headerLinks{
        transform: translateX(-100%);
        visibility: visible;
    }
}