.homePage{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding-top: 75px;
}

.homeImg{
    display: flex;
    justify-content: center;
    padding-bottom: 40px;;
}

.homeAboutPhone{
    display: none;
}

.homeAbout{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
}

.homeAbout h1{
    color: white;
    font-weight: 700;
    font-size: 58px;
    line-height: 150%;
    margin: 0;
}

.homeAboutTxt{
    max-width: 1094px;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
}

.homeAboutBtn{
    display: flex;
    gap: 4px;
    background-color: red;
    border-radius: 8px;
    padding:0px 10px 0px 10px;
}

@media(max-width:1440px){
    /*  */
}

@media(max-width:390px){

    .homePage{
        padding-left: 20px;
    }

    .homePage div:nth-child(1) img{
        width: 200px;
        height: 200px;
    }

    .homeAbout h1{
        font-size: 28px;
        text-align: center;
    }

    .homeAboutTxt{
        display: none;
    }

    .homeAboutPhone{
        display: block;
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: 0;
    }
}


.genresPage{
    display: flex;
    gap: 30px;
    padding-top: 100px;
    justify-content: center;
}

.genreBlock{
    background-color: #1A1A1A;
    padding: 30px 30px 10px 30px;
    border-radius: 12px;
}

.posters{
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 10px;
    height: 200px;
}

.posters img{
    width: 115px;
    height: 123px;
    border-radius: 10px;
}

.genreTxt{
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
    color: white;
}

@media(max-width:390px){
    .genresPage{
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        grid-template-rows: repeat(2, auto);
    }

    .genreBlock{
        background-color: #1A1A1A;
        padding: 10px 10px 0px 10px;
        border-radius: 12px;
    }

    .posters{
        display: grid;
        gap: 2px;
    }   

    .posters img{
        aspect-ratio: 1 / 1;
        border-radius: 10px;
    }

    .genreTxt{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    color: white;
    }

    .genreTxt img{
        width: 20px;
        height: 20px;
    }
}


.deviceSectionBlock{
    padding: 150px 162px 150px 161px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.deviceSectionInfo h2{
    font-size: 38px;
    color: white;
    font-weight: 700;
    line-height: 150%;
}

.deviceSectionInfo p{
    color: #999999;
    font-size: 18px;
}

.deviceSectionCard{
    display: flex;
    flex-direction: column;
    padding: 50px;
    background-color: #0F0F0F;
    gap: 30px;
    border-radius: 12px;
}

.deviceSectionCards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto); 
    gap: 30px;
}

.deviceSectionCard div:nth-child(1){
    display: flex;
    gap: 30px;
    color: white;
    align-items: center;
}

.deviceSectionCard div:nth-child(1) img{
    background-color: #141414;
    width: 40px;
    height: 40px;
}

.deviceIcons{
    width: 72px;
    height: 72px;
    background-color: #141414;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.deviceHiddenFnfo{
    display: none;
}

@media(max-width:390px){

    .deviceSectionInfo h2{
    font-size: 20px;
    color: white;
    font-weight: 700;
    line-height: 150%;
    }

    .deviceNotHiddenInfo{
        display: none;
    }

    .deviceHiddenInfo{
        display: block;
    }

    .deviceSectionBlock{
    padding: 0;
    gap: 64px;
    padding-top: 100px;
    }

    .deviceSectionCards{
        display: flex;
        flex-direction: column;
    }

    .deviceSectionCard{
    padding: 24px;
    gap: 10px;
    border-radius: 12px;
    }

    .deviceSectionCard div:nth-child(1) img{
    width: 24px;
    height: 24px;
    }

    .deviceIcons{
    width: 44px;
    height: 44px;
    background-color: #141414;
    border-radius: 8px;

    }
}
.homeQuestionTxtHidden{
    display: none;
    color: #999999;
}

.homeQuestionTxtHidden.open{
    display: block;
}

.homeQuestionBlock{
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 0px 162px 150px 162px;
}

.homeQuestionHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.homeQuestionHeaderInfo p{
    color: #999999;
}

.homeQuestionHeaderBtn{
    padding: 18px 24px;
    background-color: red;
    border-radius: 8px;
}

.homeQuestions{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
    position: relative;
}

.homeQuestion{
    position: relative;
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 0px 30px 0px;
    border-bottom: 1px solid red;
}

.homeQuestion:nth-last-child(-n + 2) {
  border-bottom: none;
}

.homeQuestionNumber{
    padding: 5px 20px 5px 20px;
    background-color: #262626;
    border-radius: 10px;
}

.homeQuestionTxt{
    font-size: 22px;
}

.homeQuestionTxtBtn{
    position: relative;
    margin-left: auto;
    width: 30px;
    height: 40px;
}

.homeQuestionTxtBtn span{
    position: absolute;
    background-color: white;
    width: 20px;
    height: 2px;
}

.homeQuestionTxtBtn.open span:nth-child(1){
    transform: translateY(0) rotate(180deg);
    transition: transform 0.3s;
}

.homeQuestionTxtBtn span:nth-child(1){
    transform: translateY(0) rotate(90deg);
    transition: transform 0.3s;
}

@media(max-width:390px){
    .homeQuestionBlock{
        padding: 0px;
        padding-top: 100px;
    }

    .homeQuestionHeader{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .homeQuestions{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .homeQuestions div:nth-child(8){
        display: none;
    }

    .homeQuestions div:nth-child(7){
        display: none;
    }
}


.subscribePlan{
    padding: 150px 162px 150px 162px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.subscribePlanHeader{
    display: flex;
    justify-content: space-between;
}

.subscribePlanBtns{
    display: flex;   
    padding: 10px;
    background-color: #0F0F0F;
    border-radius: 10px;
    border: 1px solid #262626;
    align-self: center;
}

.subscribePlanBtnsOne p{
    margin: 0px;
    padding: 14px 24px 14px 24px;
    height: auto;
}

.subscribePlanBtnsTwo p{
    padding: 14px 24px 14px 24px;
    margin: 0px;
}

.subscribeBtnActive{
    background-color: #1F1F1F;
    border-radius: 8px;
    transition: 0.6s;
}

.subscribePlanInfo h1{
    color: white;
}

.subscribePlanInfo p{
    color:#999999;
}

.subscribePlanCards{
    display: flex;
    gap: 30px;
}

.subscribePlanCard{
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    background-color: #1A1A1A;
    border-radius: 12px;
    border: 1px solid #262626;
}

.subscribePlanCardInfo h2{
    color: white;
}

.subscribePlanCardInfo p{
    color: #999999;
}

.subscribePlanCard div:nth-child(1) h2{
    font-size: 24px;
}

.subscribePlan4Month{
    display: flex;
    align-items: flex-end;
}

.subscribePlan4Month p:nth-child(1){
    font-size: 40px;
    margin: 0px;
}

.subscribePlan4Month p:nth-child(2){
    margin: 0px;
}

.subscribePlan4Year{
    display: flex;
    align-items: flex-end;
}

.subscribePlan4Year p:nth-child(1){
    font-size: 40px;
    margin: 0px;
}

.subscribePlan4Year p:nth-child(2){
    margin: 0px;
}

.subscribePlanCardBtns{
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.subscribePlanCardBtns div:nth-child(1){
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #141414;
    padding: 0px 35px 0px 35px;
    border-radius: 8px;
    font-size: 18px;
}

.subscribePlanCardBtns div:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    padding: 10px 44px 10px 44px;
    border-radius: 8px;
    font-size: 18px;
}

.whoIsHidden{
    display: none  !important;
}