.movieAndShowPage{
    padding: 50px 162px 150px 161px;
}

.movieBannerBackground{
    background-size: cover;
    background-position: center;
    height: 835px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    border-radius: 12px;
}

.movieBannerName{
    color: white;
    font-size: 33px;
    margin: 0px;
}

.movieBannerDescription{
    color: #999999;
    font-size: 18px;
    max-width: 1000px;
    text-align: center;
    letter-spacing: 0;
}

.movieBannerBtns{
    display: flex;
    gap: 20px;
}

.movie_banner_bnt_wrapper{
    display: flex;
    gap: 20px;
}

.movie_banner_bnt_wrapper button:nth-child(1){
    display: flex;
    justify-content: center;
    align-items: center;
    width: 47px;
    background-color: #0F0F0F;
    border: 1px solid #262626;
    border-radius: 8px;
}

.redBtn{
    display: flex;
    background-color: red;
    padding: 0px 24px 0px 24px;
    gap: 10px;
    border-radius: 8px;
}

.movieBannerBtns button:nth-child(1) img{
    width: 24px;
}

.movieBannerBtns button:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
    width: 47px;
    background-color:#0F0F0F;
    border: 1px solid #262626; 
    border-radius: 8px;
}

.movieBannerBtns button:nth-child(3){
    display: flex;
    justify-content: center;
    align-items: center;
    width: 47px;
    background-color:#0F0F0F;
    border: 1px solid #262626; 
    border-radius: 8px;
}

.movieBannerBtns button:nth-child(4){
    display: flex;
    justify-content: center;
    align-items: center;
    width: 47px;
    background-color:#0F0F0F;
    border: 1px solid #262626; 
    border-radius: 8px;
}

.prevNextBtns{
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding: 0px 0px 20px 0px;
}

.prevBtn{
    background-color: #0F0F0F;
    border: 1px solid #262626;
    border-radius: 8px;
    padding: 15px;
}

.nextBtn{
    background-color: #0F0F0F;
    border: 1px solid #262626;
    border-radius: 8px;
    padding: 15px;
}


.ourGenres{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.carouselSection{
    padding-top: 0px;
}

.carouselSectionWrapper{
    margin-top: 162px;
    padding: 50px;
    border: 1px solid #262626;
    border-radius: 12px;
    position: relative;
}

.borderElem{
    font-weight: 600;
    font-size: 20px;
    color: white;
    padding: 10px 24px;
    background-color: red;
    position: absolute;
    border-radius: 8px;
    top: -20px;
}

.popularTopTen{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.popularHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popularHeader p{
    color: white;
    font-size: 30px;
    font-weight: 800;
}

.prevForPopular{
    background-color: #1A1A1A;
    padding: 14px;
    border: 1px solid #262626;
    border-radius: 8px;
}

.nextForPopular{
    background-color: #1A1A1A;
    padding: 14px;
    border: 1px solid #262626;
    border-radius: 8px;
}

.popularTopTenSpace{
    display: flex;
    gap: 30px;
}

.topTenInfo p:nth-child(1){
    background-color: red;
    padding: 10px;
    border-radius: 5px;
}

.posterForPopular {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border-radius: 12px;
    gap: 10px;
}

.moviePostersTest img{
    width: 30px;
}

.trendingNowHeader p{
    font-size: 30px;
    font-weight: 800;
}

.spaceForTrending{
    display: flex;
    gap: 20px;
}

.trendingNow{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 50px;
}

.trendingTime{
    background-color: #141414;
    border: 1px solid #262626;
    border-radius: 51px;
}

.trendingTime p {
  margin: 0;
  text-wrap: nowrap;
}

.trendingWatches{
    background-color: #141414;
    border: 1px solid #262626;
    border-radius: 51px;
}

.trendingWatches p{
    margin: 0px;
}

.trendingWrapper{
    padding: 20px;
    background-color: #1A1A1A;
    border: 1px solid #262626;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
}

.moviePostersTrending{
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    object-position: center 20%;
}

.trendingNowHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.prevForTrending{
    background-color: #1A1A1A;
    padding: 14px;
    border: 1px solid #262626;
    border-radius: 8px;
}

.nextForTrending{
    padding: 14px;
    background-color: #1A1A1A;
    border: 1px solid #262626;
    border-radius: 8px;
}

.trendingCardInfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.trendingTime{
    display: flex;
    gap: 6px;
    padding: 6px 10px 6px 6px;
    justify-content: center;
    align-items: center;
}

.trendingTime img{
    width: 24px;
}

.trendingWatches{
    display: flex;
    gap:6px;
    padding: 6px 10px 6px 6px;
}

.trendingWatches img{
    width: 24px;
}

.newReleases{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.releasesHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.releasesHeaderInfo p{
    font-size: 30px;
    font-weight: 800;
}

.prevForReleases{
    background-color: #1A1A1A;
    padding: 14px;
    border: 1px solid #262626;
    border-radius: 8px;
}

.nextForReleases{
    background-color: #1A1A1A;
    padding: 14px;
    border: 1px solid #262626;
    border-radius: 8px;
}

.spaceForReleases{
    display: flex;
    gap: 20px;
    
}

.releasessWrapper{
    padding: 20px;
    background-color: #1A1A1A;
    border: 1px solid #262626;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}

.releasessWrapper img{
    border-radius: 8px;
    object-fit: cover;
    width: 100%;
    object-position: 20%;
}

.releasessWrapper p{
    margin: 0px;
    text-wrap: nowrap;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0;
    text-align: center;
    padding: 6px 10px 6px 6px;
    background-color: #141414;
    border: 1px solid #262626;
    border-radius: 51px;
    line-height: 150%;
}

.movieShowBtn{
    display: none;
}

.mustMovies{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.ratedHeader{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    align-items: center;
}

.ratedHeader p {
    font-size: 30px;
    font-weight: 700;
}

.prevForRated{
    background-color: #1A1A1A;
    padding: 14px;
    border: 1px solid #262626;
    border-radius: 8px;
}

.nextForRated{
    background-color: #1A1A1A;
    padding: 14px;
    border: 1px solid #262626;
    border-radius: 8px;
}

.spaceForRated{
    display: flex;
    gap: 20px;
}

.ratedWrapper{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #1A1A1A;
    border-radius: 12px;
    border: 1px solid #262626;
    gap: 20px;
    justify-content: space-between ;
}

.trendingTime{
    padding: 6px 10px 6px 6px;
}

.ratedInfo{
    display: flex;
    justify-content: space-between;
}

.ratedImg img{
    border-radius: 8px;
}

.ratedStars p{
    font-size: 30px;
    padding: 6px 10px;
    margin: 0px;
    color: red;
    background-color: #141414;
    border-radius: 51px;
    border: 1px solid #262626;
    display: flex;
    align-items: center;
    gap: 5px;
}

.ratedStars p span{
    color: #999999;
    font-size: 14px;
}

.genresHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.genresHeader p{
    font-size: 30px;
    font-weight: 700;
}

.SprevForGenres{
    background-color: #1A1A1A;
    padding: 14px;
    border: 1px solid #262626;
    border-radius: 8px;
}

.SnextForGenres{
    background-color: #1A1A1A;
    padding: 14px;
    border: 1px solid #262626;
    border-radius: 8px;
}


.showGenresSpace{
    display: flex;
    gap: 20px;
}

.SprevForPopular{
    background-color: #1A1A1A;
    padding: 14px;
    border: 1px solid #262626;
    border-radius: 8px;
}

.SnextForPopular{
    background-color: #1A1A1A;
    padding: 14px;
    border: 1px solid #262626;
    border-radius: 8px;
}

.SprevForTrending{
    background-color: #1A1A1A;
    padding: 14px;
    border: 1px solid #262626;
    border-radius: 8px;
}

.SnextForTrending{
    background-color: #1A1A1A;
    padding: 14px;
    border: 1px solid #262626;
    border-radius: 8px;
}

.SprevForReleases{
    background-color: #1A1A1A;
    padding: 14px;
    border: 1px solid #262626;
    border-radius: 8px;
}

.SnextForReleases{
    background-color: #1A1A1A;
    padding: 14px;
    border: 1px solid #262626;
    border-radius: 8px;
}

.SprevForRated{
    background-color: #1A1A1A;
    padding: 14px;
    border: 1px solid #262626;
    border-radius: 8px;
}

.SnextForRated{
    background-color: #1A1A1A;
    padding: 14px;
    border: 1px solid #262626;
    border-radius: 8px;
}

.carouselSectionWrapperShow{
    margin-top: 162px;
    padding: 50px;
    border: 1px solid #262626;
    border-radius: 12px;
    position: relative;
}

.hideThis{
    display: block;
}

@media(max-width: 1440px){
    .movieAndShowPage{
        padding: 50px 80px 150px 80px;
    }

    .movieBannerBackground{
        height: 709px;
    }

    .movieBannerName{
    color: white;
    font-size: 27px;
    margin: 0px;
    }

    .carouselSectionWrapper{
        padding: 30px;
    }

    .carouselSectionWrapperShow{
        padding: 30px;
    }

    .spaceForGenres img{
        width: 20px;
    }

    .topTenInfo p:nth-child(1){
        padding: 5px;
        font-size: 12px;
        display: flex;
        justify-content: center;
        width: 66px;
    }

    .trendingTime img{
        width: 18px;
    }

    .trendingTime p{
        font-size: 12px;
    }

    .trendingWatches img{
        width: 18px;
    }

    .trendingWatches p{
        font-size: 12px;
    }

    .releasessWrapper{
    padding: 16px;
    background-color: #1A1A1A;
    border: 1px solid #262626;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    }

    .releasessWrapper p{
    margin: 0px;
    text-wrap: nowrap;
    font-weight: 500;
    font-size: 12px;
    }

    .ratedStars p{
        font-size: 18px;
    }

    .ratedStars p span{
        font-size: 10px;
    }
}

@media(max-width: 500px){
    .movieAndShowPage{
    padding: 50px 0px 0px 16px;
    }

    .carouselSectionWrapper{
        padding: 16px;
        margin-top: -20px;
        margin-bottom: 50px;
    }

    .carouselSectionWrapperShow{
        padding: 16px;
        margin-top: -20px;
        margin-bottom: 50px;
    }

    .movieBannerName{
        font-size: 20px;
        font-weight: 700;
        font-style: bold;
        text-align: center;
    }

    .movieBannerBtns{
        width: 80%;
        padding: 0px 20px 0px 20px;
    }

    .redBtn{
        width: 100%;
        justify-content: center;
    }

    .movie_banner_bnt_wrapper{
        justify-content: center;
    }

    .movieBannerBtns{
        display: flex;
        flex-direction: column;
    }

    .movieBannerBtns button:nth-child(1){
        padding: 8px;
    }

    .movieBannerBtns button:nth-child(1) img{
        width: 20px;
    }
    .movieBannerBtns button:nth-child(2) img{
        width: 20px;
    }
    .movieBannerBtns button:nth-child(3) img{
        width: 20px;
    }

    .nextBtn{
        padding: 10px;
    }

    .prevBtn{
        padding: 10px;
    }

    .movieShowBtn{
        display: flex;
        justify-content: space-between;
        padding: 8px;
        gap: 10px;
        border: 1px solid #262626;
        border-radius: 8px;
        background-color: #0F0F0F;
        margin: 80px 8px 50px 8px;
    }

    .movieBtn{
        padding: 12px 62px 12px 62px;
        background-color: #0F0F0F;
        color: white;
        border: 0px;
        border-radius: 8px;
    }

    .showBtn{
        padding: 12px 62px 12px 62px;
        background-color: #0F0F0F;
        color: white;
        border: 0px;
        border-radius: 8px;
    }

    .carouselSectionWrapper{
        border: 0px;
    }

    .borderElem{
        display: none;
    }

    .homeCarouselHeaderText{
        font-size: 10px;
    }

    .homeCarouselHeaderBtns{
        padding: 6px;
    }

    .ourGenres{
        gap: 20px;
    }

    .left{
        padding: 4px;
    }

    .right{
        padding: 4px;
    }

    .homeCarouselCardBlock{
        padding: 20px;
    }

    .spaceForGenres{
        padding-top: 20px;
    }

    .spaceForGenres p{
        margin: 0px;
        font-size: 15px;
    }

    .spaceForGenres img{
        width: 20px;
    }

    .spaceForPosters{
        gap: 5px;
    }

    .popularTopTen{
        gap: 20px;
    }

    .popularHeader p{
        font-size: 15px;
    }

    .prevForPopular{
        padding: 4px;
    }

    .nextForPopular{
        padding: 4px;
    }

    .posterForPopular{
        gap: 5px;
    }

    .trendingNow{
        gap: 20px;
    }

    .trendingNowHeader p{
        font-size: 15px;
    }

    .prevForTrending{
        padding: 4px;
    }

    .nextForTrending{
        padding: 4px;
    }

    .trendingWrapper{
        padding: 12px;
    }

    .trendingWatches img{
        width: 14px;
    }

    .trendingWatches p{
        font-size: 10px;
    }

    .newReleases{
        gap: 20px;
    }

    .releasesHeaderInfo p{
        font-size: 15px;
    }

    .prevForReleases{
        padding: 4px;
    }

    .nextForReleases{
        padding: 4px;
    }

    .spaceForReleases{
        gap: 16px;
    }

    .releasessWrapper{
        padding: 12px;
    }
    .releasessWrapper p{
    margin: 0px;
    text-wrap: nowrap;
    font-weight: 500;
    font-size: 8px;
    }

    .btnActive{
        background-color: #1F1F1F;
    }

    .ratedHeader p{
        font-size: 15px;
    }

    .prevForRated{
        padding: 4px;
    }

    .nextForRated{
        padding: 4px; 
    }

    .ratedWrapper{
        gap: 12px;
        padding: 12px;
    }

    .trendingTime img{
        width: 12px;
    }

    .trendingTime p{
        font-size: 8px;
    }

    .ratedStars p{
        font-size: 10px;
    }

    .ratedStars p span{
        font-size: 8px;
    }

    .genresHeader p{
        font-size: 15px;
    }

    .popularHeader p{
        font-size: 15px;
    }

    .trendingNowHeader p{
        font-size: 15px;
    }

    .releasesHeaderInfo p{
        font-size: 15px;
    }

    .ratedHeader p{
        font-size: 15px;
    }

    .SprevForGenres{
        padding: 4px;
    }

    .SnextForGenres{
        padding: 4px;
    }

    .SprevForPopular{
        padding: 4px;
    }

    .SnextForPopular{
        padding: 4px;
    }

    .SprevForTrending{
        padding: 4px;
    }

    .SnextForTrending{
        padding: 4px;
    }

    .SprevForReleases{
        padding: 4px;
    }

    .SnextForReleases{
        padding: 4px;
    }

    .SprevForRated{
        padding: 4px;
    }

    .SnextForRated{
        padding: 4px;
    }

    .spaceForRated{
        gap: 8px;
    }

    .popularTopTenSpace{
        gap: 20px;
    }

    .hideThis{
        display: none;
    }
}