.movieAndShowPage{
    padding: 50px 162px 150px 161px;
}

.movieBannerBackground{
    background-size: cover;
    background-position: center;
    height: 835px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.movieBannerName{
    color: white;
    font-size: 33px;
    margin: 0px;
}

.movieBannerDescription{
    color: #999999;
    font-size: 18px;
    max-width: 1000px;
    text-align: center;
    letter-spacing: 0;
}

.movieBannerBtns{
    display: flex;
    gap: 20px;
}

.movieBannerBtns button:nth-child(1){
    display: flex;
    background-color: red;
    padding: 0px 24px 0px 24px;
    gap: 10px;
    border-radius: 8px;
}

.movieBannerBtns button:nth-child(1) img{
    width: 24px;
}

.movieBannerBtns button:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
    width: 47px;
    background-color:#0F0F0F;
    border: 1px solid #262626; 
    border-radius: 8px;
}

.movieBannerBtns button:nth-child(3){
    display: flex;
    justify-content: center;
    align-items: center;
    width: 47px;
    background-color:#0F0F0F;
    border: 1px solid #262626; 
    border-radius: 8px;
}

.movieBannerBtns button:nth-child(4){
    display: flex;
    justify-content: center;
    align-items: center;
    width: 47px;
    background-color:#0F0F0F;
    border: 1px solid #262626; 
    border-radius: 8px;
}

.prevNextBtns{
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding: 0px 0px 20px 0px;
}

.prevBtn{
    background-color: #0F0F0F;
    border: 1px solid #262626;
    border-radius: 8px;
    padding: 15px;
}

.nextBtn{
    background-color: #0F0F0F;
    border: 1px solid #262626;
    border-radius: 8px;
    padding: 15px;
}


.ourGenres{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.carouselSection{
    padding-top: 180px;
}

.carouselSectionWrapper{
    padding: 50px;
    border: 1px solid #262626;
    border-radius: 12px;
    position: relative;
}

.borderElem{
    font-weight: 600;
    font-size: 20px;
    color: white;
    padding: 10px 24px;
    background-color: red;
    position: absolute;
    border-radius: 8px;
    top: -20px;
}

.popularTopTen{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.popularHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popularHeader p{
    color: white;
    font-size: 30px;
    font-weight: 800;
}

.prevForPopular{
    background-color: #1A1A1A;
    padding: 14px;
    border: 1px solid #262626;
    border-radius: 8px;
}

.nextForPopular{
    background-color: #1A1A1A;
    padding: 14px;
    border: 1px solid #262626;
    border-radius: 8px;
}

.popularTopTenSpace{
    display: flex;
    gap: 30px;
}

.topTenInfo p:nth-child(1){
    background-color: red;
    padding: 10px;
    border-radius: 5px;
}

.posterForPopular {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border-radius: 12px;
    gap: 10px;
}

.moviePostersTest img{
    width: 30px;
}

.trendingNowHeader p{
    font-size: 30px;
    font-weight: 800;
}

.spaceForTrending{
    display: flex;
    gap: 20px;
    /* justify-content: space-between; */
}

.trendingNow{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 50px;
}

.trendingTime{
    background-color: #141414;
    border: 1px solid #262626;
    border-radius: 51px;
}

.trendingTime p {
  margin: 0;
  text-wrap: nowrap;
}

.trendingWatches{
    background-color: #141414;
    border: 1px solid #262626;
    border-radius: 51px;
}

.trendingWatches p{
    margin: 0px;
}

.trendingWrapper{
    padding: 20px;
    background-color: #1A1A1A;
    border: 1px solid #262626;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.moviePostersTrending{
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    object-position: center 20%;
}

.trendingNowHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.prevForTrending{
    background-color: #1A1A1A;
    padding: 14px;
    border: 1px solid #262626;
    border-radius: 8px;
}

.nextForTrending{
    padding: 14px;
    background-color: #1A1A1A;
    border: 1px solid #262626;
    border-radius: 8px;
}

.trendingCardInfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.trendingTime{
    display: flex;
    gap: 6px;
    padding: 6px 10px 6px 6px;
    justify-content: center;
    align-items: center;
}

.trendingTime img{
    width: 24px;
}

.trendingWatches{
    display: flex;
    gap:6px;
    padding: 6px 10px 6px 6px;
}

.trendingWatches img{
    width: 24px;
}

.newReleases{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.releasesHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.releasesHeaderInfo p{
    font-size: 30px;
    font-weight: 800;
}

.prevForReleases{
    background-color: #1A1A1A;
    padding: 14px;
    border: 1px solid #262626;
    border-radius: 8px;
}

.nextForReleases{
    background-color: #1A1A1A;
    padding: 14px;
    border: 1px solid #262626;
    border-radius: 8px;
}

.spaceForReleases{
    display: flex;
    gap: 20px;
}

.releasessWrapper{
    padding: 20px;
    background-color: #1A1A1A;
    border: 1px solid #262626;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}

.releasessWrapper img{
    border-radius: 8px;
}

.releasessWrapper p{
    margin: 0px;
    text-wrap: nowrap;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0;
    text-align: center;
    padding: 6px 10px 6px 6px;
    background-color: #141414;
    border: 1px solid #262626;
    border-radius: 51px;
    line-height: 150%;
}


@media(max-width: 1440px){
    .movieBannerBackground{
        height: 709px;
    }

    .movieBannerName{
    color: white;
    font-size: 27px;
    margin: 0px;
    }
}

@media(max-width: 390px){
    .movieAndShowPage{
    padding: 50px 0px 0px 16px;
    }

    .movieBannerDescription{
    display: none;
    }   


}