.movieAndShowPage{
    padding: 50px 162px 150px 161px;
}

.movieBannerBackground{
    background-size: cover;
    background-position: center;
    height: 835px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.movieBannerName{
    color: white;
    font-size: 33px;
    margin: 0px;
}

.movieBannerDescription{
    color: #999999;
    font-size: 18px;
    max-width: 1000px;
    text-align: center;
    letter-spacing: 0;
}

.movieBannerBtns{
    display: flex;
    gap: 20px;
}

.movieBannerBtns button:nth-child(1){
    display: flex;
    background-color: red;
    padding: 0px 24px 0px 24px;
    gap: 10px;
    border-radius: 8px;
}

.movieBannerBtns button:nth-child(1) img{
    width: 24px;
}

.movieBannerBtns button:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
    width: 47px;
    background-color:#0F0F0F;
    border: 1px solid #262626; 
    border-radius: 8px;
}

.movieBannerBtns button:nth-child(3){
    display: flex;
    justify-content: center;
    align-items: center;
    width: 47px;
    background-color:#0F0F0F;
    border: 1px solid #262626; 
    border-radius: 8px;
}

.movieBannerBtns button:nth-child(4){
    display: flex;
    justify-content: center;
    align-items: center;
    width: 47px;
    background-color:#0F0F0F;
    border: 1px solid #262626; 
    border-radius: 8px;
}

.prevNextBtns{
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding: 0px 0px 20px 0px;
}

.prevBtn{
    background-color: #0F0F0F;
    border: 1px solid #262626;
    border-radius: 8px;
    padding: 15px;
}

.nextBtn{
    background-color: #0F0F0F;
    border: 1px solid #262626;
    border-radius: 8px;
    padding: 15px;
}



/* .createCarousel{
    display: flex;
    flex-wrap: nowrap;
} */