.singlePageFilm{
    padding: 0px 161px 0px 162px;
    margin-top: 50px;
    margin-bottom: 100px;
}

.singleMovieBannerWrapper{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 835px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-radius: 12px;
}

.single_movie_banner_info{
    padding: 100px 100px 40px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.single_movie_banner_text{
    display: flex;flex-direction: column;
    justify-content: center;
    align-items: center;
}

.single_movie_banner_text h1{
    color: white;
    font-size: 38px;
    font-weight: 700;
    margin: 0px;
}

.single_movie_banner_text p{
    color: #999999;
    font-size: 18px;
    font-weight: 400;
}

.movie_description{
    display: grid;
    grid-template-areas: 
    "first second"
    "third second"
    "fourth second"
    ;
    gap: 20px;
    padding-top: 100px;
}

.descrip_wrapper{
        grid-area: first;
    }

.movie_info{
    grid-area: second;
}

.cast_carousel_wrapper{
    grid-area: third;
}

.reviews_carousel_wrapper{
       grid-area: fourth;
}

.descrip_cast_reviews{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.single_movie_btns{
    display: flex;
    align-items: center;
    gap: 20px;
}

.single_movie_playBtn{
    display: flex;
    background-color: red;
    padding: 14px 24px;
    align-items: center;
    border-radius: 8px;
}

.single_movie_playBtn p{
    margin: 0px;
}

.single_movie_otherBtns{
    display: flex;
    gap: 20px;
}

.single_movie_otherBtns div{
    display: flex;
    align-items: center;
    padding: 14px;
    background-color: #0F0F0F;
    border: 1px solid #262626;
    border-radius: 6px;
}

.single_movie_otherBtns div:nth-child(1){
    padding: 14px 18px;
}

.movie_info{
    padding: 50px;
    background-color: #1A1A1A;
    border: 1px solid #262626;
    border-radius: 12px;
    align-self: start;
}

.movie_info_content_head{
    display: flex;
    gap: 5px;
}

.movielanguages{
    display: flex;
    gap: 5px;
}

.movielanguages p{
    padding: 8px 14px;
    background-color: #141414;
    border: 1px solid #262626;
    border-radius: 8px;
}

.movieRatings{
    display: flex;
    gap: 20px;
}

.movie_stars{
    display: flex;
    align-items: center;
    gap: 4px;
}

.movie_stars p{
    display: flex;
}

.movie_stars span{
    color: white;
}

.movie_gernes{
    display: flex;
    gap: 10px;
    
}

.movie_gernes p{
    padding: 8px 14px;
    font-size: 18px;
    background-color: #141414;
    border: 1px solid #262626;
    border-radius: 8px;
}

.movieDirector{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 14px;
    background-color: #141414;
    border: 1px solid #262626;
    border-radius: 8px;
}

.directorProfile img{
    width: 60px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 8px;
}

.descrip_wrapper{
    padding: 50px;
    background-color: #1A1A1A;
    border: 1px solid #262626;
    border-radius: 12px;
}

.descrip_wrapper p:nth-child(1){
    color: #999999;
}

.cast_carousel_wrapper{
    padding: 50px;
    background-color: #1A1A1A;
    border: 1px solid #262626;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cast_carousel_header{
    display: flex;
    justify-content: space-between;
    
}

.cast_carousel_header p{
    color: #999999;
}

.cast_carousel_header div button{
    background-color: #141414;
    border: 1px solid #262626;
    border-radius: 100px;
    padding: 14px;
}

.reviews_carousel_wrapper{
    padding: 50px;
    background-color: #1A1A1A;
    border: 1px solid #262626;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.reviews_carousel_header{
    display: flex;
    justify-content: space-between;
}

.reviews_carousel_buttons{
    display: flex;
    justify-content: center;
}

.reviews_carousel_header button{
    display: flex;
    gap: 5px;
    align-items: center;
    background-color: #141414;
    border: 1px solid #262626;
    border-radius: 8px;
    }

.reviews_carousel_buttons button{
    background-color: #141414;
    border: 1px solid #262626;
    border-radius: 100px;
    padding: 14px;
}

.cast_carousel_space{
    display: flex;
    gap: 20px;
}

.castImg img{
    width: fit-content;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 12px;
}

.reviews_carousel_space{
    display: grid;
    grid-template-columns: 1fr 1fr  ;
    gap: 20px;
}

.reviewWrapper{
    padding: 40px;
    background-color: #0F0F0F;
    border: 2px solid #262626;
    border-radius: 12px;
}

.reviewer{
    display: flex;
    justify-content: space-between;
    align-items: center;  
}

.reviewer p{
    font-size: 20px;
    font-weight: 500;
}

.reviewer div{
    color: red;
}

.reviewContent p{
    font-size: 16px;
    color: #999999;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.movie_stars p{
    margin: 0px;
    color: red;
}

.rate{
    padding: 16px;
    background-color: #0F0F0F;
    border: 2px solid #262626;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.rate p{
    margin: 0px;
}

.movie_info_content_head p{
    color: #999999;
}

@media(max-width: 500px){
    .singlePageFilm{
        padding: 0px 16px;
    }

    .single_movie_banner_text p{
        display: none;
    }

    .single_movie_banner_text h1{
        text-wrap: nowrap;
    }

    .single_movie_btns{
        display: flex;
        flex-direction: column;
    }

    .single_movie_playBtn{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .movie_description{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "first"
        "second"
        "third"
        "fourth"
        ;
    }

    .descrip_wrapper{
        grid-area: first;
    }

    .movie_info{
        grid-area: second;
    }

    .cast_carousel_wrapper{
        grid-area: third;
    }

    .reviews_carousel_wrapper{
        grid-area: fourth;
    }

    .reviews_carousel_space{
        display: flex;
    }

    .descrip_wrapper{
        padding: 24px;
    }

    .cast_carousel_wrapper{
        padding: 24px;
    }

    .reviews_carousel_wrapper{
        padding: 24px;
    }

    .movie_info{
        padding: 24px;
    }

    .reviewWrapper{
        padding: 24px;
    }
}