body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #141414;
}

#root{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a{
    color: white;
    text-decoration: none;
}

p{
    color: white;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}