
:root {
  /* absolute colors */ 
  --color-absolute-white: #fff;    
  --color-absolute-black: #000;

  /* primary colors */

  --color-primary-45: #E50000;
  --color-primary-50: #FF0000;
  --color-primary-55: #FF1919;
  --color-primary-60: #FF3333;
  --color-primary-80: #FF9999;
  --color-primary-90: #FFCCCC;
  --color-primary-95: #FFE5E5;
  --color-primary-99: #FFFAFA;

  /* dark colors */

  --color-dark-06: #0F0F0F;
  --color-dark-08: #141414;
  --color-dark-10: #1A1A1A;
  --color-dark-12: #1F1F1F;
  --color-dark-15: #262626;
  --color-dark-20: #333333;
  --color-dark-25: #404040;
  --color-dark-30: #4C4C4C;
  
  /* grey colors */

  --color-gray-60: #999999;
  --color-gray-65: #A6A6A6;
  --color-gray-70: #B3B3B3;
  --color-gray-75: #BFBFBF;
  --color-gray-90: #E4E4E7;
  --color-gray-95: #F1F1F3;
  --color-gray-97: #F7F7F8;
  --color-gray-99: #FCFCFD;

  /* font size */

  --font-primary: 'manrope', sans-serif;
  --font-size-sm: 0.875rem;
  --font-size-base: 1rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 1.5rem;
  --font-size-2xl: 2rem;
  --font-size-3xl: 3rem;

  /* spacing */
  
  --spacing-xs: 0.5rem;
  --spacing-sm: 1rem;
  --spacing-md: 1.5rem;
  --spacing-lg: 2rem;
  --spacing-xl: 2.5rem;
  --spacing-xxl: 3rem;

}  